@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  font-family: 'Prompt', sans-serif;
  height:100vh;
  width:100vw;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
